.card{
    margin: 0;
    padding: 0;
    background-color: gray;
    height: 140px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(147, 37, 120);
    overflow: hidden;
    cursor: pointer;
}
.card:hover{
    scale: 1.1;
}
.name{
    font-size: small;
}
.icon{
    object-fit: cover;
    height: 140px;
    width: 100%;
}
.match{
    background-color: red;
}
.backface{
    object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .card{
        height: 130px;
        width: 110px;
    }
    
    }