.sidebar {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 30vw;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    90deg,
    rgba(18, 18, 18, 0) 11%,
    rgb(15, 0, 101) 99%
  );
}
.pressStart {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: wheat;
  text-align: center;
  font-size: 48px;
}
.buttons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.button8bits {
  width: 100%;
  height: 40px;
  font-family: "Press Start 2P", system-ui;
}
@media only screen and (max-width: 767px) {
  .sidebar{
      flex-direction: row;
      width: 100%;
      height: 100px;
  }
  .pressStart{
    font-size: 20px;
  }
  }